.app_projects {
  width: 100%;
}
.app_projects .app_projects-container {
  width: 100%;
}
.app_projects .app_projects-container .app_projects-map {
  width: 100%;
  flex-direction: column;
}
.app_projects .app_projects-container .app_projects-map .app_project-item {
  width: 95%;
  border-top: 3px solid var(--primary-green);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container {
    justify-content: center;
    align-items: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container h2 {
  font-size: 2rem;
  color: var(--primary-white);
  border-bottom: 1px solid var(--primary-green);
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container h2 {
    text-align: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container {
  flex-direction: row;
  gap: 3rem;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container {
    flex-direction: column;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-img {
  width: 50%;
  border-radius: 5px;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-img {
    width: 100%;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px var(--primary-green);
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text {
  color: var(--primary-white);
  width: 50%;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text {
    width: 100%;
    align-items: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-description {
  gap: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-description {
    align-items: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-description .project-title {
  font-size: 2rem;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-description .description {
  font-size: 1.5rem;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-description .description {
    font-size: 1.25rem;
    text-align: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-tech {
  gap: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-tech {
    align-items: center;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-tech .tech-title {
  font-size: 1.75rem;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-tech .tech {
  font-size: 1.25rem;
}
@media screen and (max-width: 900px) {
  .app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-text .project-tech .tech {
    font-size: 1.125rem;
  }
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-links {
  width: 100%;
  flex-direction: row;
  gap: 50%;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-links a {
  font-size: 3rem;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-links a i {
  color: var(--primary-white);
  transition: 0.25s ease-in-out;
}
.app_projects .app_projects-container .app_projects-map .app_project-item .container .project-container .project-links a i:hover {
  color: var(--primary-green);
}

.app_project-list {
  flex-direction: column;
}/*# sourceMappingURL=Projects.css.map */